
/* Fonte principal usada na página */
@font-face {
    font-family: 'blenderpro';
    src: url('../fonts/blender-pro-book.ttf');
}

body, html {
    color: white;
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'blenderpro';
}

body {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "video"
    "nav"
    "footer"
    ;
}

header { grid-area: header; }
nav { grid-area: footer; }
footer { grid-area: footer; }
.videoarea { grid-area: video; }


/* definiões dos componentes do headder */
header {
    padding: 1em 0 0 0;
    gap: 0.5em;
    z-index: 3;
    height: fit-content;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
}

header img{
    height: 8vh;
    width: auto;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

nav li {

}

nav a {
  text-decoration: none;
  background: rgb(0,255,0);
  color: black;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: bold;
  transition: ease 0.3s;
  white-space: nowrap;
  font-size: 1em;
  cursor: pointer;
}

nav a:hover {
  box-shadow: 0 12px 20px aquamarine;
  color: black;
  background-color: aquamarine;
}

/* definição dos componentes de vídeo */
.videoarea {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.videoarea video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Gradiente que faz o fade */
.videoarea::after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 70%,
        rgba(0, 0, 0, 0.9) 90%,
        rgba(0, 0, 0, 1) 99%
    );

    pointer-events: none;
}

/* definição do footer */
footer{
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 10;
}